asgiref==3.11.1
django>=5.2.15,<5.3
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
PyJWT>=2.13.0
PyMySQL==1.2.0
python-dotenv==1.2.2
sqlparse==0.6.0
mysqlclient
biopython
gunicorn==26.0.0
